.banner {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #333;
  padding-top: 10vh;
  height: 75vh;
  h1 {
    text-align: left;
    font-size: 56px;
    margin: 0;
  }

  .banner-text {
    text-align: left;
  }

  .shop-now-button {
    margin-top: 20px;
    padding: 10px 40px;
    background-color: #181818;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
  }
}
