<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div>
          <h1>FIND CLOTHES</h1>
          <h1>THAT MATCHES</h1>
          <h1>YOUR STYLE</h1>
        </div>
        <div class="banner-text">
          <span >
            Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.
          </span>
        </div>

        <div class="banner-text mt-3">
          <button class="shop-now-button">SHOP NOW</button>
        </div>
      </div>
      <div class="col-6">
        <img src="home_banner.png" alt="Banner Image" />
      </div>
    </div>
  </div>
</div>
